{% extends 'layout.html.twig' %}

{% block title %}
    Modification Club
{% endblock title %}

{% block content %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{{ form_start(form, { 'action': path('club_edit') }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'Valider'|trans }}" />
    </div>
{{ form_end(form) }}
{% endblock fos_user_content %}

{% endblock content %}