{% extends "layout.html.twig" %}

{% block title %}Mon espace bénévole{% endblock %}

{% block content %}

<div class="container">
    <br>
    <div class="row center">
        <h4>MON ESPACE BÉNÉVOLE</h4>
        <a href="{{ path('benevole_edit') }}" class="btn waves-effect waves-light blue accent-3">
            Modifier mes informations
        </a>
    </div>
    <h5 class="header blue-text text-accent-3">Événements à venir</h5>
        <div class="row">
            <div class="col s12 l4">
                <div class="card z-depth-2">
                    <div class="card-content">
                        <img src="{{ asset('img/basket-ball.png') }}" width="12%"class="circle responsive-img right"/>
                        <span class="card-title activator grey-text text-darken-4" style="font-weight: bold; font-size: 20px">PB86 / Aix Maurienne</span>
                        <p>Le 27/11/2017 à 20h00</p>
                        <p>Salle Saint Eloi </p>
                        <p>86 000 Poitiers</p>
                        <a class="btn-floating halfway-fab waves-effect waves-light blue accent-3 activator"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-action">
                        <p><b>DEMANDES SUR CET EVENEMENT :</b></p>
                        <img src="{{ asset('img/tic.png') }}">
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Titre<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        $('select').material_select();

        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Aujourd\'hui',
            clear: 'Réinitialiser',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });
    </script>
{% endblock %}