/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.parallax img{
  display: inherit !important;
}

.collection .collection-item.avatar:not(.circle-clipper) >
.circle, .collection .collection-item.avatar :not(.circle-clipper) > .circle {
  width: 30px;
  height: 30px;
  left: 0px;
}

.btn-small {
  border-radius: 3px;
  height: 24px;
  line-height: 24px;
  padding: 0.4em;
  color:white;
  font-size: 12px;
  text-transform: uppercase;
}

.collection .collection-item.avatar p {
  font-size:12px;
}

.collection .collection-item.avatar .title{
  font-weight: bold;
  font-size:14px;
}

.collection .collection-item {
  border-bottom: 2px solid #bdbdbd;
}

.selected {
  background-color: #bbdefb;
  color: #212121;
  font-weight: bold;
}

.collection .collection-item.avatar {
  padding-left: 38px;
}

.opacity {
  opacity: 0.85;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.select-wrapper input.select-dropdown {
  margin: 0 0 4px 0;
}

.pagination li.active {
  background-color: #2979FF;
}

.input-field .prefix.active {
  color: #2979FF;
}

.picker__date-display {
  background-color:#2979FF;
}

.picker__day.picker__day--today {
  color: #2979FF;
}

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
  background-color: #2979FF;
}

.picker__close, .picker__today, .picker__clear {
  color: #2979FF;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: #2979FF;
}

.input-field .prefix.active {
  color: #2979FF;
}

[type="checkbox"]:checked + label:before {
  border-right: 2px solid #2979FF;
  border-bottom: 2px solid #2979FF;
}

/* Indeterminate checkbox */
[type="checkbox"]:indeterminate + label:before {
  border-right: 2px solid #2979FF;
}

[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid #2979FF;
  background-color: #2979FF;
}

[type="checkbox"].filled-in.tabbed:checked:focus + label:after {
  background-color: #2979FF;
  border-color: #2979FF;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #2979FF;
}

.collection .collection-item.active {
  background-color: #2979FF;
}

.collection a.collection-item {
  color: #2979FF;
}

.secondary-content {
  color: #2979FF;
}

.progress .determinate {
  background-color: #2979FF;
}

.progress .indeterminate {
  background-color: #2979FF;
}

.input-field .prefix.active {
  color: #2979FF;
}

span.badge.new {
  background-color: #2979FF;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: #2979FF;
}

.chips.focus {
  border-bottom: 1px solid #2979FF;
  -webkit-box-shadow: 0 1px 0 0 #2979FF;
          box-shadow: 0 1px 0 0 #2979FF;
}

.chips .chip.selected {
  background-color: #2979FF;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #2979FF;
  -webkit-box-shadow: 0 1px 0 0 #2979FF;
          box-shadow: 0 1px 0 0 #2979FF;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #2979FF;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #fff;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: #fff;
}

.card.small {
  height: 110px;
  padding: 8px 20px;
  padding-left: 46px;
}

.card .card-title {
  font-size: 22px;
}

.card.small .circle {
  position: absolute;
  overflow: hidden;
  left: 8px;
  display: inline-block;
  vertical-align: middle;
}
.card .card-action {
  padding: 4px 18px;
}


#map {
  width: 100%;
  height: 300px;
  background-color: grey;
}

.pac-container {
  font-family: Roboto;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.switch label .lever {
  margin: 6px;
}

::placeholder {
  color: #202020;
}
::-moz-placeholder {
  color: #202020;
}

.btn-dupliquer, .btn-edit, .btn-supprimer{
  padding: 0 0.5rem;
}

#boutonFixe
{
  position:fixed;
  bottom: 40%;
  right: 10px;
}

[type="radio"]:checked + label::after, [type="radio"].with-gap:checked + label::after {
  background-color: #2979FF;
}
[type="radio"]:checked + label::after, [type="radio"].with-gap:checked + label::before, [type="radio"].with-gap:checked + label::after {
  border: 2px solid #2979FF;
}