{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <br><br><br>
        <div class="card-panel hoverable grey lighten-5 z-depth-1 ">
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                <div>
                    <label for="username">{{ 'resetting.request.username'|trans }}</label>
                    <input type="text" id="username" name="username" required="required" />
                </div>
                <br>
                <div class="right">
                    <button class="btn waves-effect blue darken-2" id="sub" type="submit" name="action">
                        Réinitialiser le mot de passe
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <br><br>
            </form>
        </div>
        <br><br><br>
    </div>
{% endblock fos_user_content %}
