{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="card hoverable grey lighten-5 z-depth-1 col s12">
                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                    <br>
                    <span class="card-title blue-text text-accent-3">RÉINITIALISER SON MOT DE PASSE</span></br><br>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input type="text" id="username" name="username" required="required" />
                        <label>Adresse email</label>
                    </div>
                    <br>
                    <div class="right">
                        <button class="btn waves-effect blue accent-3" id="sub" type="submit" name="action">
                            Réinitialiser le mot de passe
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    <div class="input-field col s12"></div>
                </form>
            </div>
        </div>
    </div>
    <br><br><br><br>
{% endblock fos_user_content %}
